DEBUG=True
SECRET_KEY=django-insecure-x-wek1%5%q40p=mr!&lz%zjuehf$qtin_v(un#%ri(z9p8vcj%

DB_NAME=POSTGRES_DB
DB_USER=POSTGRES_USER
DB_PASSWORD=POSTGRES_PASSWORD

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD

DB_HOST=db 
DB_PORT=5432

FRONTEND_URL=http://localhost:5173
REDIS_URL=redis://redis:6379/0